<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h2>Movie List</h2>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_movie' %}" class="button-link">Add a Movie</a>
    <a href="{% url 'generate_movie' %}" class="button-link">Generate Movie</a>


    {% if movies %}
    <div class="recommended-movie">
        <h3>🎥 Recommended Movie:</h3>
        <p><strong>Title:</strong> <a href="{{ recommended_movie.tmdb_url }}" target="_blank">{{ recommended_movie.title }}</a> ({{ recommended_movie.year }})</p>
        {% if recommended_movie.poster_url %}
            <img src="{{ recommended_movie.poster_url }}" alt="Movie Poster" style="width:200px; border-radius:10px;">
        {% else %}
            <p>No poster available.</p>
        {% endif %}
        <p><strong>Rating:</strong> ⭐ {{ recommended_movie.rating }}</p>
        <a href="{% url 'add_movie_to_list' %}" class="button-link">Add to database</a>
    </div>
    {% else %}
        <h3>There is no information about the movies you watch. <br> I can't recommend anything without prior information.</h3>
    {% endif %}
</body>
</html>
